html,body {position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;overflow:hidden;}
.dg.main * {-moz-box-sizing:initial;-webkit-box-sizing:initial;box-sizing:initial;}
.dg.main select {-webkit-appearance:menulist;}
.dg.main input[type=checkbox] {-webkit-appearance:checkbox;}

